WP_HOME=http://docker.test/
WP_SITEURL=http://docker.test/wp
DOMAIN_CURRENT_SITE=docker.test
DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password
DB_HOST=localhost
DB_PREFIX=wp_
WP_ENV=development